<configSections>
	<section name="thinktecture.identityserver.contrib.activedirectory" 
	         type="ThinkTecture.IdentityServer.Contrib.ActiveDirectory.Configuration.ActiveDirectoryConfigurationSection, ThinkTecture.IdentityServer.Contrib.ActiveDirectory" />
</configSections>


<thinktecture.identityserver.contrib.activedirectory domainName="myDomain.local"
                                                     contextType ="Domain"
                                                     container=""
                                                     userName="Administrator"
                                                     password="Passw0rd">
  <Administrationgroup name="Thinktecture IdentityServer Administrators" />
  <Usergroups>
    <Usergroup name="Domain Users" />
  </Usergroups>
</thinktecture.identityserver.contrib.activedirectory>